[project]
	description = Messing with ASR
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Faiyaz Ahmed (fdawg4l)
[access "refs/for/refs/*"]
	read = group user/Faiyaz Ahmed (fdawg4l)
	push = group user/Faiyaz Ahmed (fdawg4l)
	label-Code-Review = -2..+2 group user/Faiyaz Ahmed (fdawg4l)
	label-Verified = -1..+1 group user/Faiyaz Ahmed (fdawg4l)
	rebase = group user/Faiyaz Ahmed (fdawg4l)
	removeReviewer = group user/Faiyaz Ahmed (fdawg4l)
	submit = group user/Faiyaz Ahmed (fdawg4l)
[access "refs/heads/*"]
	read = group user/Faiyaz Ahmed (fdawg4l)
	create = group user/Faiyaz Ahmed (fdawg4l)
	push = +force group user/Faiyaz Ahmed (fdawg4l)
	pushMerge = group user/Faiyaz Ahmed (fdawg4l)
[access "refs/tags/*"]
	push = +force group user/Faiyaz Ahmed (fdawg4l)
	pushTag = group user/Faiyaz Ahmed (fdawg4l)
	pushSignedTag = group user/Faiyaz Ahmed (fdawg4l)
[receive]
	requireChangeId = true
